   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>{% block title %}Výchozí titulek{% endblock %}</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   </head>
   <body>
       <header>
           <h1>Vítejte na mém webu</h1>
       </header>
       <nav>
           {% block nav %}
           <ul>
               <li><a href="/">Domů</a></li>
               <li><a href="/about">O nás</a></li>
               <li><a href="/link">Formulář</a></li>
           </ul>
           {% endblock %}
       </nav>

       {% with messages = get_flashed_messages() %}
        {% if messages %}
       <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

       <main>
           {% block content %}
           <p>Toto je výchozí obsah.</p>
           {% endblock %}
       </main>
       <footer>
           <p>© 2025 Moje společnost</p>
       </footer>
   </body>
   </html>